.header-title {
    padding: 0 50px!important;
    background: #333;
    color: #fff;
}

.header-body {
    padding: 10px 5px 0 0!important;
}

.header-body .search {
    margin-bottom: 10px;
}

.custom-row {
    margin: 0 -15px;
}

.week-view {
    box-shadow: 0 8px 16px 0 #ccc;
}

.week-cols {
    background: #eee;
}

.week-row-head {
    background: #ddd;
    border: none;
    font-weight: 600;
}

.working input {
    width: 80px;
    margin-top: 10px;
}

.detailed_view {
    margin: 10px 0;
}